<div class="new-note-wrapper" id="new-note-wrapper">
  <button
    hx-get="/clickedNewNote"
    hx-trigger="click"
    hx-target="#new-note-wrapper"
    hx-swap="outerHTML"
    class="new-note"
  >
    New Note
  </button>
</div>
<div class="note-list" id="note-list">
  {{ range .FileNames }}
  <div
    id="{{ . }}"
    class="note-entry-wrapper"
    onmouseover="startTimer(this)"
    onmouseout="clearTimer(this)"
  >
    <input
      type="image"
      src="/static/img/delete-notes.svg"
      class="delete-link"
      hx-delete="/notes/{{ . }}"
      hx-trigger="click"
      hx-target="closest div"
      hx-swap="outerHTML"
    />
    <a href="/notes/fullpagenoteview/{{ . }}" class="fullpage-link"></a>
    <a href="/notes/edit/{{ . }}" class="edit-link"></a>
    <p class="note-title">{{ . }}</p>
  </div>
  {{ end }}
</div>
<script>
  /* 
  When the user hovers over the filename div, wait for 200ms before sending
  a request to get the file contents to populate the preview pane. If the cursor
  is moved off of the filename div before the 200ms has elapsed, the request
  is never sent. This prevents HTMX from firing off tons of requests if the user 
  quickly moves the cursor up and down over the file list.
  */

  var timer;
  var delay = 200;

  function startTimer(element) {
      timer = setTimeout(function () {
        htmx.ajax(
          'GET',
          '/notes/' + element.id,
          {
            target: '#preview',
            swap: 'innerHTML'
          }
        )
      }, delay);
  }

  function clearTimer(element) {
      clearTimeout(timer);
  }
</script>