<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .FileName }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  </head>
  <body hx-boost="true">
    <div class="note-filename-container" id="filename-container">
      <h1 id="filename">{{ .FileName }}</h1>
    </div>
    <main id="app-container" class="app-container">
      <div class="action-bar">
        <div class="action-bar-subsection">
          <a href="/notes">
            <img src="/static/img/home.svg" alt="home_icon" />
          </a>
            <input
              hx-post="/notes/{{ .FileName }}"
              hx-include="#editor"
              hx-trigger="click"
              hx-target="body"
              hx-push-url="true"
              type="image"
              src="/static/img/save.svg"
              name="save"
              id="save"
            />
        </div>
      </div>
      <div class="writing-wrapper">
        <div class="grid-container two-columns">
          <div class="grid-markdown markdown-column">
            <textarea id="editor" name="editor" rows="24">
{{ .Content }}</textarea
            >
            <!-- Have to have the {{ .Content }} like this or the browser will render extra spaces on the first line -->
          </div>
          <div id="rendered" class="grid-rendered rendered-column"></div>
        </div>
      </div>
    </main>
    <script>
      // Render markdown client-side
      var textarea = document.getElementById("editor");
      function renderMarkdown() {
        var markdown = textarea.value;
        document.getElementById("rendered").innerHTML = marked.parse(markdown);
      }
      // Render on page load
      renderMarkdown();
      // Rerender on update
      textarea.addEventListener("input", renderMarkdown);
    </script>
  </body>
</html>
