<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .FileName }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
</head>
<body>
    <div class="note-filename-container">
        <h1>{{ .FileName }}</h1>
    </div>
    <main class="app-container">
        <div class="action-bar">
            <button>
                <img src="/static/img/save.svg" alt="save_icon">
                Save
            </button>
            <button>
                <img src="/static/img/image.svg" alt="img_icon">
                Add Image
            </button>
        </div>
        <div class="writing-wrapper">
            <div class="grid-container two-columns">
                <div class="grid-markdown markdown-column">
                    <textarea id="editor" name="editor" rows="24">{{ .Content }}</textarea>
                </div>
                <div id="rendered" class="grid-rendered rendered-column">
                </div>
            </div>
        </div>
    </main>
    <script>
        var textarea = document.getElementById('editor');
        function renderMarkdown () {
            var markdown = textarea.value;
            document.getElementById('rendered').innerHTML =
                marked.parse(markdown);
        }
        // Render on page load
        renderMarkdown()
        // Rerender on update
        textarea.addEventListener('input', renderMarkdown);

    </script>
</body>
</html>