<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .FileName }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/editor.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
  </head>
  <body>
    <div class="note-filename-container">
      <h1 id="filename">{{ .FileName }}</h1>
    </div>
    <form id="form-editor" class="form-editor">

    
    <main class="app-container">
      
        <div class="action-bar">
          <div class="action-bar-subsection">
            <input
              type="image"
              src="/static/img/back.svg"
              name="back"
              id="back"
            />
            <input
              type="image"
              src="/static/img/save.svg"
              name="save"
              id="save"
            />
            <img src="/static/img/image.svg" alt="img_icon" />
          </div>
          <div class="action-bar-subsection">
            <input
              type="image"
              src="/static/img/delete.svg"
              name="save"
              id="save"
            />
          </div>
        </div>
        <div class="writing-wrapper">
          <div class="grid-container two-columns">
            <div class="grid-markdown markdown-column">
              <textarea id="editor" name="editor" rows="24">
{{ .Content }}</textarea
              >
              <!-- Have to have the {{ .Content }} like this or the browser will render extra spaces on the first line -->
            </div>
            <div id="rendered" class="grid-rendered rendered-column"></div>
          </div>
        </div>
      </form>
    </main>
  </form>
    <script>
      // Render markdown client-side
      var textarea = document.getElementById("editor");
      function renderMarkdown() {
        var markdown = textarea.value;
        document.getElementById("rendered").innerHTML = marked.parse(markdown);
      }
      // Render on page load
      renderMarkdown();
      // Rerender on update
      textarea.addEventListener("input", renderMarkdown);

      // Handle form submission
      let form = document.getElementById("form-editor");
      var fileName = "{{ .FileName }}";

      function submitForm(event) {
        event.preventDefault();

        let action = event.submitter.name;

        switch (action) {
          case "save":
            this.method = "post";
            this.action = "/notes/" + fileName;
            break;
          case "back":
            this.method = "get";
            this.action = "/notes";
            break;
        }

        this.submit();
      }

      form.addEventListener("submit", submitForm);
    </script>
  </body>
</html>
