<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .FileName }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="note-filename-container" id="filename-container">
      <h1 id="filename">{{ .FileName }}</h1>
    </div>
    <main class="app-container">
      <div class="action-bar">
        <div class="action-bar-subsection">
          <a href="/notes">
            <img src="/static/img/home.svg" alt="home_icon" />
          </a>
        </div>
      </div>
      <div id="note-preview-wrapper" class="note-preview-wrapper">
        
      </div>
    </main>
    <script>
      var markdown = "{{ .Content }}";
      document.getElementById("note-preview-wrapper").innerHTML = marked.parse(markdown);
    </script>    
  </body>
</html>
