<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  </head>
  <body>
    <main>
      <div class="img-container">
        <img src="/static/img/logo.png" alt="logo" />
      </div>
      <h1 class="app-name">Papernote</h1>
      <form action="/login" method="POST">
        <input
          id="username"
          name="username"
          type="text"
          placeholder="Username"
        />
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Password"
        />
        {{ if .Error }}
        <p class="invalid-login">Invalid Username or Password</p>
        {{ end }}
        <input type="submit" value="Login" />
      </form>
      <a href="/signup">Create an account</a>
    </main>
  </body>
</html>
