<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <div class="container">
        <form action="/login" method="POST">
            <div class="row">
                <div class="column column-33 column-offset-33">
                    <div class="img-container">
                        <img src="/static/images/logo.jpg" alt="logo">
                    </div>
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text">
                    <label for="password" type="text">Password</label>
                    <input id="password" name="password" type="password">
                    <input type="submit" value="Login">
                </div>
            </div>
        </form>
    </div>
</body>
</html>