<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Papernote</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/new-styles.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container vh-100">
      <div
        class="row pn-header d-flex align-items-center justify-content-between"
      >
        <div class="col-md-auto">
          <img
            src="/static/img/logo.png"
            alt="logo"
            width="48"
            height="48"
            class="d-inline"
          />
          <p class="fs-4 d-inline align-middle">Papernote</p>
        </div>
        <div class="col-md-4">
          <input
            class="form-control"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-danger">Logout</button>
        </div>
      </div>
      <div class="row pn-main">
        <div class="col-3 col-constrained-height">
          <div class="d-grid mb-1">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#newNoteModal"
            >
              New Note
            </button>
          </div>
          <ul class="list-group list-group-flush pn-list-group">
            {{ range .FileNames }}
            <li
              class="list-group-item"
              id="{{ . }}"
              onmouseenter="startTimer(this)"
              onmouseleave="clearTimer(this)"
            >
              <div class="row">
                <div class="col-8">
                  <p class="d-inline" style="cursor: default">{{ . }}</p>
                </div>
                <div class="col-4 d-flex p-0 justify-content-end">
                  <i class="bi bi-trash3-fill"></i>
                  <i class="bi bi-arrows-angle-expand"></i>
                  <i class="bi bi-pencil-square"></i>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
        <div
          class="col-9 col-constrained-height pn-left-border"
          id="preview"
        ></div>
      </div>
      <div class="row pn-footer"></div>
    </div>

    <!-- New Note Modal -->
    <div class="modal fade" id="newNoteModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <input
              class="form-control"
              type="text"
              placeholder="Note Title"
              aria-label="Note Title"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      /* 
        When the user hovers over the filename div, wait for 200ms before sending
        a request to get the file contents to populate the preview pane. If the cursor
        is moved off of the filename div before the 200ms has elapsed, the request
        is never sent. This prevents HTMX from firing off tons of requests if the user 
        quickly moves the cursor up and down over the file list.
        */

      var timer;
      var delay = 200;
      var currentlyPreviewing;

      function startTimer(element) {
        element.classList.add("active");
        if (element.id == currentlyPreviewing) {
          return;
        }
        timer = setTimeout(function () {
          currentlyPreviewing = element.id;
          htmx.ajax("GET", "/notes/" + element.id, {
            target: "#preview",
            swap: "innerHTML",
          });
        }, delay);
      }

      function clearTimer(element) {
        element.classList.remove("active");
        clearTimeout(timer);
      }
    </script>
  </body>
</html>
