<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/notes.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/actionbar.css" />
    <link
    rel="stylesheet"
    type="text/css"
    href="/static/css/fullpagenoteview.css"
  />
  </head>
  <body>
    {{ template "header.html" . }}
    <main class="app-container">
      <div class="note-container">
        <div class="left-pane" id="left-pane">
          {{ template "noteList.html" . }}
        </div>
        <div id="preview" class="right-pane"></div>
      </div>
    </main>
  </body>
</html>
