<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/notes.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sideNav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css">
</head>
<body>
    {{ template "sideNav.html" . }}
    <main class="container">
        {{ template "header.html" . }}
        <div class="row">
            <div class="column column-25">
                {{ range .Names }}
                <div class="note-link-wrapper">
                    <a hx-get="/notes/{{ . }}" 
                       hx-target="#preview" 
                       hx-swap="innerHTML"
                       hx-trigger="mouseenter"
                       class="note-link"
                    >
                        {{ . }}
                    </a>
                </div>
                {{ end }}
            </div>
            <div class="column column-75">
                <div id="preview">
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>