body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
    line-height: normal;
}

button {
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
    box-shadow: none;
    padding: 0.5rem;
    cursor: pointer;
}

.app-container {
    max-width: 1400px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}