main {
  border-radius: 0.25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 94%;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding: 0.75rem;
  resize: none;
}

.action-bar {
  display: flex;
  align-items: center;
  height: 6%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  justify-content: space-between;
}

.action-bar-subsection {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.action-bar-subsection a {
  display: block;
}

.writing-wrapper {
  height: 94%;
}

.note-filename-container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 6%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.note-filename-container h1 {
  margin: 0;
  margin-left: 1rem;
}

.action-bar img {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.action-bar img:hover {
  background-color: #4c4c4c;
}

.markdown-column {
  height: 100%;
  border-right: 1px solid #2c2c2c;
}

.rendered-column {
  overflow: scroll;
  border-left: 1px solid #2c2c2c;
  padding-left: 1rem;
  padding-right: 1rem;
}

.rendered-column img {
  width: calc(100% - 2rem);
  margin: 1rem;
}

.form-editor {
  width: 100%;
  height: 94%;
  margin: 0;
  padding: 0;
  display: block;
}

.form-save-button {
  display: flex;
  align-items: center;
}
