.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100% 100% 100% 100%;
}

/* notes page */

.grid-list {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid-preview {
    grid-column-start: 2;
    grid-column-end: 5;
}

/* editor page */

.grid-markdown {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-rendered {
    grid-column-start: 3;
    grid-column-end: 5;
}