header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

header h2 {
    margin: 0 0 0 1rem;
}

body {
    padding: 1rem;
}

.note-title-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.note-entry-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.edit-button {
    align-items: center;
    padding: 1rem;
    position: absolute;
    opacity: 0;
}

/* show/hide edit button on hover */

.note-entry-wrapper:hover .edit-button {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.note-entry-wrapper:not(:hover) ~ .edit-button {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* shift note title left/right on hover */

.note-entry-wrapper:hover .note-title {
    padding-left: 30px;
    transition: padding-left 0.3s ease;
}

.note-entry-wrapper:not(:hover) .note-title {
    padding-left: 0px;
    transition: padding-left 0.3s ease;
}