header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

header h2 {
    margin: 0 0 0 1rem;
}

body {
    padding: 1rem;
}

.note-link {
    cursor: pointer;
}

.note-link-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
}