/* common */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  line-height: normal;
}

button {
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
  box-shadow: none;
  padding: 0.5rem;
  cursor: pointer;
}

.app-container {
  max-width: 1400px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* action bar */

.action-bar {
  display: flex;
  align-items: center;
  height: 6%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  justify-content: space-between;
}

.action-bar-subsection {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.action-bar-subsection a {
  display: block;
}

.action-bar img {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.action-bar img:hover {
  background-color: #4c4c4c;
}

/* editor */

main {
  border-radius: 0.25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 94%;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding: 0.75rem;
  resize: none;
}

.action-bar {
  display: flex;
  align-items: center;
  height: 6%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  justify-content: space-between;
}

.action-bar-subsection {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.action-bar-subsection a {
  display: block;
}

.writing-wrapper {
  height: 94%;
}

.note-filename-container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 6%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.note-filename-container h1 {
  margin: 0;
  margin-left: 1rem;
}

.action-bar img {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.action-bar img:hover {
  background-color: #4c4c4c;
}

.markdown-column {
  height: 100%;
  border-right: 1px solid #2c2c2c;
}

.rendered-column {
  overflow: scroll;
  border-left: 1px solid #2c2c2c;
  padding-left: 1rem;
  padding-right: 1rem;
}

.rendered-column img {
  width: calc(100% - 2rem);
  margin: 1rem;
}

.form-editor {
  width: 100%;
  height: 94%;
  margin: 0;
  padding: 0;
  display: block;
}

.form-save-button {
  display: flex;
  align-items: center;
}


/* grid */

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
}

.grid-container.four-columns {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100% 100% 100% 100%;
}

.grid-container.two-columns {
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
}

.grid-list {
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 1px solid #ccc;
}

.grid-preview {
  grid-column-start: 2;
  grid-column-end: 5;
}

.grid-markdown {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-rendered {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* header */

header {
  height: 6%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 90%;
}

header h1 {
  padding: 0;
  margin: 0;
  color: #212121;
}

header #logout-button {
  text-align: center;
  padding: 0.25rem;
}

.header-sub {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.search {
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
  box-shadow: none;
  padding: 0.5rem;
}

/* fullscreen note page */

main {
  border-radius: 0.25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 94%;
}

.note-filename-container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 6%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.note-filename-container h1 {
  margin: 0;
  margin-left: 1rem;
}

.note-preview-wrapper {
  overflow: scroll;
  height: 94%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.rendered img {
  width: calc(100% - 2rem);
  margin: 1rem;
}

.note-preview-wrapper {
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.note-preview-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome */
}


/* login page */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  text-align: center;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img-container img {
  width: 150px;
  height: 150px;
}

input[type="text"],
input[type="password"] {
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
  display: flex;
  align-items: center;
  box-shadow: none;
  padding: 0.5rem;
  margin-bottom: 20px;
}

input[type="submit"] {
  border-radius: 0.4rem;
  border: none;
  appearance: none;
  outline: none;
  display: flex;
  align-items: center;
  box-shadow: none;
  padding: 0.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.app-name {
  margin-top: 0;
}

.invalid-login {
  color: red;
}


/* notes page */
main {
  border-radius: 0.25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 94%;
}

.new-note-wrapper {
  width: 100%;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  height: 6%;
}

.new-note-input-wrapper {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0.5rem;
}

.new-note-input {
  width: calc(100% - 2rem);
  box-sizing: border-box;
  padding: 0.25rem;
}

.new-note-create-button {
  text-align: center;
  padding: 0.25rem;
  width: calc(100% - 2rem);
}

.note-preview-title {
  height: 64px;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.new-note {
  text-align: center;
  padding: 0.25rem;
  width: calc(100% - 2rem);
}

.note-list {
  width: 100%;
  height: 94%;
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.note-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome */
}

.note-entry-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.note-entry-wrapper p {
  cursor: default;
}

.note-title {
  padding: 1rem 0;
  margin: 0;
  transition: padding-left 0.3s ease;
}

/* edit link icon */

.edit-link {
  background-image: url("/static/img/edit.svg");
  background-size: cover;
  height: 1.1rem;
  width: 1.1rem;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 60px;
  transition: opacity 0.3s ease;
}

/* show/hide edit link on hover */

.note-entry-wrapper:hover .edit-link {
  opacity: 1;
}

.note-entry-wrapper:not(:hover) .edit-link {
  opacity: 0;
}

/* shift note title left/right on hover */

.note-entry-wrapper:hover .note-title {
  padding-left: 90px;
}

.note-entry-wrapper:not(:hover) .note-title {
  padding-left: 0px;
}

/* full page view link */

.fullpage-link {
  background-image: url("/static/img/fullpage.svg");
  background-size: cover;
  height: 1.1rem;
  width: 1.1rem;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 30px;
  transition: opacity 0.3s ease;
}

/* show/hide fullpage link on hover */

.note-entry-wrapper:hover .fullpage-link {
  opacity: 1;
}

.note-entry-wrapper:not(:hover) .fullpage-link {
  opacity: 0;
}

/* delete note link */

.delete-link {
  height: 1.1rem;
  width: 1.1rem;
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.note-entry-wrapper:hover .delete-link {
  opacity: 1;
}
.note-entry-wrapper:not(:hover) .delete-link {
  opacity: 0;
}

/* Layout */

/* Flexbox container */
.note-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.left-pane {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.right-pane {
  height: 100%;
  width: calc(75% - 2rem);
  border-left: 1px solid #ccc;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.right-pane::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Chrome */
}

.right-pane img {
  width: calc(100% - 2rem);
  margin: 1rem;
}

.clicked-new-note-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
