<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .FileName }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/editor.css">
</head>
<body>
    <main class="container-fluid">
        <h1>{{ .FileName }}</h1>
        <form action="/notes/{{ .FileName }}" method="POST">
            <div class="grid">
                <div>
                    <textarea id="editor" name="editor" rows="24">{{ .Content }}</textarea>
                </div>
                <div id="rendered">
                </div>
            </div>
            <input type="submit" value="Save">
        </form>
    </main>
    <script>

        var textarea = document.getElementById('editor');

        function renderMarkdown () {
            var markdown = textarea.value;
            document.getElementById('rendered').innerHTML =
                marked.parse(markdown);
        }

        // Render on page load
        renderMarkdown()
        // Rerender on update
        textarea.addEventListener('input', renderMarkdown);

    </script>
</body>
</html>