<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/pico.min.css">
</head>
<body>
    <header></header>
    <main class="container">
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
            <label for="password" type="text">Password</label>
            <input id="password" name="password" type="password">
            <input type="submit" value="Login">
        </form>
    </main>
    <footer></footer>
</body>
</html>